<div class="d-flex justify-content-center">
  <div class="card">
    <legend class="text-center header">Package delivery</legend>
    <form (ngSubmit)="saveDeliveryForm()" [formGroup]="deliveryForm" class="text-center m-3 form-width">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputFirstName">First name</label>
          <input type="text" class="form-control" id="inputFirstName" placeholder="John" formControlName="firstName">
        </div>
        <div class="form-group col-md-6">
          <label for="inputLastName">Last name</label>
          <input type="text" class="form-control" id="inputLastName" placeholder="Doe" formControlName="lastName">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-9">
          <label for="inputStreet">Street</label>
          <input type="text" class="form-control" id="inputStreet" placeholder="Gravin de Merodestraat"
            formControlName="street">
        </div>
        <div class="form-group col-md-3">
          <label for="inputStreetNumber">Street #</label>
          <input type="text" class="form-control" id="inputStreetNumber" placeholder="132"
            formControlName="streetNumber">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCountryCode">Country code</label>
          <input type="text" class="form-control" id="inputCountryCode" placeholder="32" formControlName="countryCode">
          <div *ngIf="deliveryForm.get('countryCode').errors?.LengthOfNumberNotCorrect" class="text-danger">
            The length of the country code is not valid.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputZipcode">Zip code</label>
          <input type="text" class="form-control" id="inputZipcode" placeholder="2260" formControlName="zipcode">
          <div *ngIf="deliveryForm.get('zipcode').errors?.required" class="text-danger">
            The zip code is required.
          </div>
          <div *ngIf="deliveryForm.get('zipcode').errors?.pattern" class="text-danger">
            The zip code is not valid.
          </div>
        </div>
      </div>
      <div class="d-flex flex-column" id="backUpAddress">
        <div>
          <label for="backupAddress" class="mr-3">I want to specify a backup address in case i'm not home.</label>
          <input type="checkbox" class="m-auto" id="backupAddress" formControlName="backupAddres"
            (click)="updateValidationForBackupAddress($event)">
        </div>
        <div *ngIf="deliveryForm.get('backupAddres').value === true" class="text-warning">
          Attention: the backup address must be closer by than the nearest package deposite unit. Otherwise the package
          will be delivered there.
        </div>
      </div>
      <div *ngIf="deliveryForm.get('backupAddres').value === true">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputBackupStreet">Backup street</label>
            <input type="text" class="form-control" id="inputBackupStreet" placeholder="Gravin de Merodelaan"
              formControlName="backupStreet">
          </div>
          <div class="form-group col-md-3">
            <label for="inputBackupStreetNumber">Backup Street #</label>
            <input type="text" class="form-control" id="inputBackupStreetNumber" placeholder="123"
              formControlName="backupStreetNumber">
          </div>
          <div class="form-group col-md-3">
            <label for="backupInputZipcode">Backup zip code</label>
            <input type="text" class="form-control" id="backupInputZipcode" placeholder="2250"
              formControlName="backupZipcode">
            <div *ngIf="deliveryForm.get('backupZipcode').errors?.required" class="text-danger">
              The zip code is required.
            </div>
            <div *ngIf="deliveryForm.get('backupZipcode').errors?.pattern" class="text-danger">
              The zip code is not valid.
            </div>
          </div>
        </div>
      </div>
      <div class="d-inline-flex text-right" id="keepNotifiedForPackageDelivery">
        <label for="inputkeepNotified" class="mr-3">I want to receive updates regarding the package.</label>
        <input type="checkbox" class="m-auto" id="inputkeepNotified" (click)="updatePackageTrace($event)"
          formControlName="keepNotified">
      </div>
      <div *ngIf="deliveryForm.get('keepNotified').value === true" id="notifyMe">
        <div class="d-inline-flex" id="notifyMeMedium">
          <label class="form-check-label mr-3">Keep me notified by:</label>
          <div>
            <input type="radio" id="inputEmailMedium" class="m-auto" formControlName="notifyMedium"
              (click)="updateNotifyMedium(notifyMedium.EMAIL)" [value]="notifyMedium.EMAIL" checked>
            <label class="ml-2 mr-2" for="inputEmailMedium">Email</label>
          </div>
          <div>
            <input type="radio" id="inputPhoneMedium" class="m-auto" formControlName="notifyMedium"
              (click)="updateNotifyMedium(notifyMedium.PHONE)" [value]="notifyMedium.PHONE">
            <label class="ml-2 mr-2" for="inputPhoneMedium">Phone</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="John.Doe@dotnetlab.eu"
              formControlName="email">
            <div *ngIf="deliveryForm.get('email').errors?.required" class="text-danger">
              Email is required.
            </div>
            <div *ngIf="deliveryForm.get('email').errors?.minlength" class="text-danger">
              The email must be atleast 5 characters long.
            </div>
            <div *ngIf="deliveryForm.get('email').errors?.email" class="text-danger">
              The email is not valid.
            </div>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPhoneNumber">Phone</label>
            <input type="phone" class="form-control" id="inputPhoneNumber" placeholder="+3216359370"
              formControlName="phoneNumber">
            <div *ngIf="deliveryForm.get('phoneNumber').errors?.required" class="text-danger">
              The phone number is required.
            </div>
            <div *ngIf="deliveryForm.get('phoneNumber').errors?.minlength" class="text-danger">
              The phone number is too short.
            </div>
            <div *ngIf="deliveryForm.get('phoneNumber').errors?.maxlength" class="text-danger">
              The phone number is too long.
            </div>
          </div>
        </div>
      </div>
        <div class="col-md-12">
          <label for="inputExtraDeliveryInformation">Extra delivery information</label>
          <textarea type="text" rows="4" class="form-control" id="inputExtraDeliveryInformation"
            placeholder="You can put the package underneath the carport, behind the fence, ..."
            formControlName="extraDeliveryInformation"></textarea>
          <div *ngIf="deliveryForm.get('extraDeliveryInformation').errors?.maxlength" class="text-danger">
            max 500 characters.
          </div>
        </div>
      <div class="col-md-12 text-center mt-4">
        <button type="submit" [disabled]="!deliveryForm?.valid" class="btn btn-primary w-50">Send package</button>
      </div>
    </form>
  </div>
</div>
<p><strong>{{deliveryForm.status}}</strong></p>
<p><strong>{{deliveryForm.errors}}</strong></p>